<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>{{title}}</strong>
      </a>
      <input class="form-control col-md-4" id="myInput" type="text" placeholder="Search by title..">
    </div>
  </div>
</header>
