<div >
  <div class="card mb-4 shadow-sm" [ngClass]="{
            'alert-danger': post.nbLikes < 0,
            'alert-success': post.nbLikes > 0}">
    <div class="card-body">
      <h2 class="card-title">{{post.title}}</h2>
      <p class="card-text">{{post.content}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" (click)="increaseLikes()" class="btn btn-sm btn-success">Love it !</button>
          <button type="button" (click)="decreaseLikes()" class="btn btn-sm btn-danger">Don't love it !</button>
        </div>
        <small class="text-muted">{{post.createdAt | date: "short"}}</small>
      </div>
    </div>
  </div>
</div>
