<div class="bg-light py-5">
  <div class="container">
    <div class="row" id="myPosts">
      <app-post-list-item class="col-md-4" *ngFor="let post of posts"
      [post]="post">
      </app-post-list-item>
    </div>
  </div>
</div>
